<!DOCTYPE html>
<html>
<head>
    <title>Accueil</title>
</head>
<body>
    <h1>Bienvenue sur CRUDcroustillant !</h1>
    <!-- L’URL / à la fin du lien affiche la page d’accueil via HomeController::index() et le template home.html.twig. -->
</body>
</html>

