<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}CRUDcroustillant{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <a href="{{ path('homepage') }}">Accueil</a>
            <a href="{{ path('burgers_list') }}">Liste des Burgers</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>