<!DOCTYPE html>
<html>
<head>
    <title>Burgers</title>
</head>
<body>
    <h1>Liste des burgers</h1>
    <!-- L’URL /burgers à la fin du lien affiche la liste des burgers via BurgerController::list() et le template burgers_list.html.twig. -->
</body>
</html>
