{% extends 'base.html.twig' %}

{% block title %}Accueil - CRUDcroustillant{% endblock %}

{% block content %}
    <h1>Bienvenue sur CRUDcroustillant !</h1>
    <img src="{{ asset('PapasBurgeria_OG-logo.jpg') }}" alt="Nature CRUDcroustillant">
{% endblock %}

